# Global namespace

KD_SYSTEM_NAME=MyKerberosName

# SMTP server config to send email notifications

KD_REMOTE_SMTP_HOST=
KD_REMOTE_SMTP_PORT=
KD_REMOTE_SMTP_FROM=
KD_REMOTE_SMTP_USERNAME=
KD_REMOTE_SMTP_PASSWORD=
KD_REMOTE_SMTP_SECURE_METHOD=

# Notification recipients

KD_EMAIL_NOTIFICATION_RECIPIENT=

# Remote MQTT server to forward messages to

KD_MQTT_BRIDGE_ENABLED=
KD_MQTT_BRIDGE_REMOTE_HOST=
KD_MQTT_BRIDGE_REMOTE_PORT=
KD_MQTT_BRIDGE_REMOTE_USER=
KD_MQTT_BRIDGE_REMOTE_PASSWORD=
KD_MQTT_BRIDGE_REMOTE_OUT_TOPIC_PREFIX=

