version: '3.2'

services:

#  streamer-rtsp:
#    build:
#      context: ./streamer-rtsp
#      dockerfile: Dockerfile.streamer-rtsp
#    ports:
#      - "9000:9000"
#    devices:
#      - "/dev/video0"
#      - "/dev/vchiq"
#      - "/dev/vcsm"
#    volumes:
#      - "/opt/vc:/opt/vc"
#    privileged: true

#  streamer-mjpg:
#    build:
#      context: ./streamer-mjpeg
#      dockerfile: Dockerfile.streamer-mjpg
#    ports:
#      - "9000:9000"
#    privileged: true
#    environment:
#      - STREAM_PORT=9000
#      - STREAM_WIDTH=1280
#      - STREAM_HEIGHT=720
#      - STREAM_FPS=10
#    restart: always


  kerberos-deb:
    build:
      context: ./kerberos-deb
      dockerfile: Dockerfile.kerberos-deb
    ports:
      - "80:80"
      - "8889:8889"
    volumes:
      - "./data/config:/etc/opt/kerberosio/config"
      - "./data/logs:/etc/opt/kerberosio/logs"
      - "./data/capture:/etc/opt/kerberosio/capture"
      - "./data/h264:/etc/opt/kerberosio/h264"
    links:
      - webhook-php
    privileged: true
    restart: always

  webhook-php:
    build:
      context: ./webhook-php
      dockerfile: Dockerfile.webhook-php
    ports:
      - "8080:8080"
#    privileged: true
    restart: always


#  kerberos:
#    build:
#      context: ./kerberos
#      dockerfile: Dockerfile.kerberos
#    ports:
#      - "80:80"
#      - "8889:8889"
#    volumes:
#      - "./data/config:/etc/opt/kerberosio/config"
#      - "./data/logs:/etc/opt/kerberosio/logs"
#      - "./data/capture:/etc/opt/kerberosio/capture"
#      - "./data/h264:/etc/opt/kerberosio/h264"
##    links:
##      - streamer-mjpg
##    restart: always
#

